html(lang="ru")
    head
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")

        block header
            title Base HTML

        <!-- link(rel="icon" href="favicon.ico" type="image/x-icon")-->
        link(rel="stylesheet" type="text/css" href="./site.min.css")

        script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js")

    body
        button(id="start_button") Start game 0!

        script(src="site.min.js")